:root {
  /* Fonts-sizes */
  --title-h1: 32rem;
  --title-h2: 28rem;
  --title-h3: 26rem;
  --title-h4: 24rem;
  --title-h5: 22rem;
  --title-h6: 20rem;
  --paragraphs: 16rem;
  --lineS-p: 20rem;
  --lineS-h: 34rem;
}

.header__title-container h3 {
  font-size: var(--title-h3);
  line-height: var(--lineS-h);
}

.header__title-container p {
  font-size: 18rem;
  line-height: var(--lineS-p);
}

.header__title-container .header-button {
  width: 230px;
  border-radius: 5px;
  font-size: 15rem;
}

.header-button span {
  margin-left: 5px;
}

.main-intro-container--title h2 {
  font-size: var(--title-h2);
  line-height: var(--lineS-h);
}
.main-intro-container--title p {
  font-size: var(--paragraphs);
  line-height: var(--lineS-p);
}

.product-detail--nexus-logo {
  width: 100px;
  height: 100px;
  top: -45px;
  left: calc(50% - 50px);
}

/* .product-detail--title h2 {
  font-size: var(--title-h2);
  line-height: var(--lineS-h);
}

.product-detail--title p {
  font-size: var(--paragraphs);
} */

.product-detail--card {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
}
.product-detail--card > span {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

/* .product--card-title {
  font-size: var(--title-h4);
}
.product--card-body {
  font-size: var(--paragraphs);
  line-height: var(--lineS-p);
} */

.games-img-container h2 {
  padding: 25px 0;
  font-size: var(--title-h2);
  background-color: rgba(0, 0, 0, .6);
}

.nexus, .oxxo, .paypal, .bank {
  height: 40px;
}

.plans--card {
  min-width: 285px;
  padding: 40px 30px;
}
.membership {
  width: 60%;
  height: 35px;
  left: calc(50% - 85px);
  font-size: 18rem;
}

.plan-card--title {
  font-size: var(--title-h3);
}
.plan-card--price {
  font-size: 80rem;
}

.plan-card--price span {
  font-size: var(--title-h4);
  vertical-align: 40px;
}

.plan-card--saving {
  font-size: 18rem;
}
.plan-card--ca {
  margin: 15px auto 0;
}