:root {
  /* Fonts-sizes */
  --title-h1: 32rem;
  --title-h2: 28rem;
  --title-h3: 26rem;
  --title-h4: 24rem;
  --title-h5: 22rem;
  --title-h6: 20rem;
  --paragraphs: 16rem;
  --lineS-p: 20rem;
  --lineS-h: 34rem;
}

header {
  padding-bottom: 65px;
}

.header__title-container p {
  font-size: 18rem;
}

.header__title-container a {
  font-size: 15rem;
}

.header__title-container > a span {
  margin-left: 5px;
}

.main__product-detail {
  padding: 60px 0;
}

.product-detail--nexus-logo {
  width: 80px;
  height: 80px;
  top: -38px;
  left: calc(50% - 40px);
}

.product-detail--card {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
}
.product-detail--card > span {
  width: 25px;
  height: 25px;
}

.games-img-container h2 {
  padding: 25px 0;
  background-color: rgba(0, 0, 0, .6);
}

.paypal, .nexus, .bank, .oxxo {
  height: 40px;
}

.plans__card {
  min-width: 285px;
  padding: 40px 30px;
}
.membership {
  width: 60%;
  height: 35px;
  left: calc(50% - 85px);
  font-size: 18rem;
}

.plan-card--price {
  font-size: 80rem;
}

.plan-card--price span {
  font-size: var(--title-h4);
  vertical-align: 45px;
}

.plan-card--saving {
  font-size: 18rem;
}

.card__button {
  height: 55px;
}

.footer__media-container > a {
  font-size: 14rem;
}
.footer__media-container img {
  height: 15px;
}
.footer__logo > a {
  font-size: 16rem;
}