header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 35px 0 55px;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #D00000 100%);
}

header > section {
  display: flex;
  align-self: center;
  align-items: center;
}

header img {
  width: 70px;
  height: 70px;
}
header > section h1 {
  font-size: var(--title-h1);
  color: var(--red-variation);
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 768px;
  height: auto;
  align-self: center;
  text-align: center;
  color: var(--just-white);
}
.header__title-container h3 {
  margin-top: 30px;
  font-size: var(--title-h3);
  line-height: var(--lineS-h);
}

.header__title-container p {
  margin-top: 25px;
  font-size: 16rem;
  font-weight: 600;
  line-height: var(--lineS-p);
  color: var(--softRed-variation);
}

.header__title-container a {
  position: absolute;
  left: calc(50% - 115px);
  bottom: calc(0% - 25px);
  padding: 15px;
  width: 229px;
  height: 48px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  font-size: var(--paragraphs);
  box-shadow: 0rem 4px 8px rgba(242, 106, 79, 0.4);
  background-color: var(--soft-white);
  color: var(--warm-black);
}

.header__title-container > a span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('../assets/svg/down-arrow.svg');
}


/* Main */
main {
  min-width: 320px;
  width: 100%;
  height: auto;
  background-color: var(--soft-white);
}

.main__intro-container {
  width: 100%;
  height: auto;
  padding: 60px 0 70px;
  background-color: #FBFBFC;
}

.main__intro-container .intro__img {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
  background-image: url('../assets/images/main-pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro-container--info {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.intro-container--info h2 {
  margin-bottom: 30px;
  font-size: var(--title-h2);
  line-height: var(--lineS-h);
  color: var(--warm-black);
}
.intro-container--info p {
  font-size: var(--paragraphs);
  line-height: var(--lineS-p);
  font-weight: 600;
  color: #757575;
}

.main__product-detail {
  position: relative;
  height: auto;
  width: 100%;
  padding: 50px 0;
  background-color: var(--black);
}

.product-detail--nexus-logo {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -28px;
  left: calc(50% - 30px);
  background-image: url('../assets/icons/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto 40px;
  text-align: center;
}

.product-detail--title h2 {
  margin-bottom: 30px;
  font-size: var(--title-h2);
  line-height: var(--lineS-h);
  color: var(--soft-white);
}

.product-detail--title p {
  font-size: var(--paragraphs);
  font-weight: 600;
  color: #808080;
}

.product-detail--card {
  width: 85%;
  min-width: 288px;
  max-width: 400px;
  height: auto;
  margin: 30px auto;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--warm-black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
}

.product-detail--card > svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  color: var(--red-variation);
}

.product--card-title {
  margin-bottom: 15px;
  font-size: var(--title-h5);
  color: var(--soft-white);
}

.product--card-body {
  font-size: var(--paragraphs);
  line-height: var(--lineS-p);
  color: #808080;
}

.games-img-container {
  position: relative;
  min-width: 320px;
  width: 100%;
  height: 70vh;
  background-image: url('../assets/images/main-photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.games-img-container h2 {
  position: absolute;
  width: 100%;
  top: 10%;
  padding: 20px 0;
  font-size: var(--title-h2);
  color: var(--softBlue-variation);
  background-color: rgba(0, 0, 0, .5);
}

.main__plans-container {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 60px 0 40px;
  text-align: center;
}

.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}

.plans--title > h2 {
  margin-bottom: 30px;
  font-size: var(--title-h2);
  line-height: var(--lineS-h);
  color: var(--warm-black);
}

.plans--title > p {
  font-size: var(--paragraphs);
  line-height: var(--lineS-p);
  font-weight: 600;
  color: #757575;
}

.plans__methods-container {
  display: flex;
  margin: 30px auto;
  height: auto;
  width: 80%;
}
.plans__methods-container a {
  width: inherit;
  height: auto;
}
.plans__methods-container a:hover {
  transition: all 1s ease;
  opacity: .8;
}
.paypal, .nexus, .bank, .oxxo {
  display: inline-block;
  width: inherit;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.paypal {
  background-image: url('../assets/icons/payPal-logo.png');
}
.nexus {
  background-image: url('../assets/icons/logo.png');
}
.bank {
  background-image: url('../assets/icons/banamex.png');
}
.oxxo {
  background-image: url('../assets/icons/oxxo-icon.png');
}

/* .methods--update {
  width: 45%;
  height: auto;
  margin: 15px auto 0;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 12rem;
  background-color: var(--softRed-variation);
}

.methods--update p {
  font-weight: 300;
  line-height: 15rem;
  color: var(--warm-black);
} */

.plans-container--slider {
  display: flex;
  height: auto;
  padding: 20px 0;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.plans-container--slider::-webkit-scrollbar {
  height: 5px;
}
.plans-container--slider::-webkit-scrollbar-thumb {
  background-color: var(--softDark-primary);
  border-radius: 4px;
}
.plans-container--slider::-webkit-scrollbar-track {
  background-color: var(--softRed-variation);
  border-radius: 4px;
}

.plans__card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 240px;
  max-width: 310px;
  height: auto;
  margin: 0 10px;
  padding: 40px 20px;
  border-radius: 15px;
  background-color: var(--just-white);
  box-shadow: 0 4px 8px rgba(242, 106, 79, 0.35);
}
.special {
  background-color: var(--black);
}
.membership {
  position: absolute;
  width: 50%;
  height: 30px;
  top: -15px;
  left: calc(50% - 60px);
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
  font-size: var(--title-h6);
  color: var(--just-white);
  background-color: var(--just-red);
}
.basic-member {
  background-color: var(--color-secondary);
}
.special-member {
  background-color: var(--just-grey);
  color: var(--black);
}

.plan-card--title {
  font-size: var(--title-h3);
  color: var(--warm-black);
}
.plan-card--price {
  margin: 10px 0;
  font-size: 60rem;
  font-weight: bold;
  color: black;
}
.plan-card--price span {
  font-size: 20rem;
  font-weight: 300;
  vertical-align: 40px;
  margin-right: 5px;
}
.special .plan-card--title, .special .plan-card--price {
  color: var(--soft-white);
}

.plan-card--saving {
  font-size: 16rem;
  color: var(--just-grey);
}

.card__button {
  display: flex;
  width: 150px;
  height: 48px;
  margin: 15px auto 0;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  border: 2px solid var(--just-red);
  border-radius: 5px;
  font-weight: bold;
  font-size: var(--paragraphs);
  line-height: var(--lineS-p);
  color: var(--warm-black);
  background-color: var(--soft-white);
}
.card__button:hover {
  background-color: var(--softRed-variation);
  transition: all 1s ease;
  color: white;
}
.bm__button {
  border: 2px solid var(--color-secondary);
}
.bm__button:hover {
  color: var(--just-black);
  background-color: var(--softBlue-variation);
}
.sm__button {
  border: 2px solid var(--just-black);
  background-color: var(--just-grey);
}
.sm__button:hover {
  color: var(--just-black);
  background-color: var(--soft-white);
}

.card__button > svg {
  width: 30px;
  height: 30px;
  color: var(--just-red);
}
.bm__button > svg {
  color: var(--color-secondary);
}
.sm__button > svg {
  color: unset;
}



/* Footer */
footer {
  display: flex;
  width: inherit;
  height: auto;
  padding: 5px 15px;
  align-items: center;
  background-color: var(--softDark-primary);
}
footer a:hover {
  transition: all 1s ease;
  color: var(--red-variation);
}
footer a:visited {
  color: #F26A4F;
}
.footer__media-container {
  display: flex;
  width: 70%;
  padding-top: 10px;
  flex-direction: column;
}
.footer__media-container > a {
  display: flex;
  width: max-content;
  height: auto;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--soft-white);
  font-size: 12rem;
}
.footer__media-container img {
  height: 13px;
  margin-right: 3px;
}

.footer__logo {
  text-align: center;
  width: 30%;
}
.footer__logo > a {
  text-decoration: none;
  color: var(--soft-white);
  font-size: 14rem;
}
.footer__logo > a:hover {
  opacity: .7;
}
.footer__logo img {
  width: 20vw;
}