:root {
  /* Colors */
  --just-red: #D00000;
  --color-primary: #6A040F;
  --dark-primary: #370617;
  --softDark-primary: #9D0208;
  --red-variation: #EF3C2D;
  --softRed-variation: #F26A4F;
  --just-blue: #1368AA;
  --color-secondary: #002962;
  --dark-secondary: #00043A;
  --softDark-secondary: #004E89;
  --blue-variation: #4091C9;
  --softBlue-variation: #9DCEE2;
  --just-white: #FFF;
  --soft-white: #FAF8F7;
  --just-grey: #C7C7C7;
  --just-black: #000;
  --black: #201E1C;
  --warm-black: #282623;
  /* Fonts-sizes */
  --title-h1: 28rem;
  --title-h2: 24rem;
  --title-h3: 22rem;
  --title-h4: 20rem;
  --title-h5: 18rem;
  --title-h6: 16rem;
  --paragraphs: 14rem;
  --lineS-p: 18rem;
  --lineS-h: 28rem;
  /* Fonts */
  --font1: 'Nunito', sans-serif;
  --font2: 'Lato', sans-serif;
  --font3: 'Oswald', sans-serif;
}

html {
  font-size: 6.25%;
  font-family: var(--font1);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: auto;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 35px 0 65px;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #D00000 100%);
}

header > section {
  display: flex;
  align-self: center;
  align-items: center;
}

header img {
  width: 70px;
  height: 70px;
}
header > section h1 {
  font-size: var(--title-h1);
  color: var(--red-variation);
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 768px;
  height: auto;
  align-self: center;
  text-align: center;
  color: var(--just-white);
}
.header__title-container h3 {
  margin-top: 30px;
  font-size: var(--title-h3);
  line-height: var(--lineS-h);
}

.header__title-container p {
  margin-top: 25px;
  font-size: 16rem;
  font-weight: 600;
  line-height: var(--lineS-p);
  color: var(--softRed-variation);
}

.header__title-container .header-button {
  position: absolute;
  left: calc(50% - 115px);
  bottom: calc(0% - 25px);
  padding: 15px;
  width: 229px;
  height: 48px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  font-size: var(--paragraphs);
  box-shadow: 0rem 4px 8px rgba(242, 106, 79, 0.4);
  background-color: var(--soft-white);
  color: var(--warm-black);
}

.header-button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('../assets/svg/down-arrow.svg');
}


/* Main */
main {
  min-width: 320px;
  width: 100%;
  height: auto;
  background-color: var(--soft-white);
}

.main-intro-container {
  width: 100%;
  height: auto;
  padding: 60px 0 70px;
  background-color: #FBFBFC;
}

.main-intro-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
  background-image: url('../assets/images/main-pic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-intro-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.main-intro-container--title h2 {
  margin-bottom: 30px;
  font-size: var(--title-h2);
  line-height: var(--lineS-h);
  color: var(--warm-black);
}
.main-intro-container--title p {
  font-size: var(--paragraphs);
  line-height: var(--lineS-p);
  color: #757575;
}

/* Borrador */
/* .main-images-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
}
.main-image {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  font-family: 'Inter', sans-serif;
  align-items: center;
  text-align: left;
}
.main-image .image--title {
  margin-bottom: 15px;
  font-size: var(--title-h5);
  font-weight: bold;
  line-height: 23rem;
  color: var(--red-variation);
  padding-left: calc(50% - 98px);
}
.image--container {
  width: 90%;
  min-width: 230px;
  max-width: 250px;
  height: 250px;
  margin: 0 auto;
}
.image--container img {
  width: 100%;
  height: 100%;
} */

.main-product-detail {
  position: relative;
  height: auto;
  width: 100%;
  min-width: 320px;
  padding: 60px 0;
  background-color: var(--black);
}

.product-detail--nexus-logo {
  width: 90px;
  height: 90px;
  top: -43px;
  left: calc(50% - 40px);
  position: absolute;
  background-image: url('../assets/icons/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto 40px;
  text-align: center;
}

.product-detail--title h2 {
  margin-bottom: 30px;
  font-size: var(--title-h2);
  line-height: var(--lineS-h);
  color: var(--soft-white);
}

.product-detail--title p {
  font-size: var(--paragraphs);
  color: #808080;
}

.product-detail--card {
  width: 85%;
  min-width: 288px;
  max-width: 400px;
  height: auto;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--warm-black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
}

.product-detail--card > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .clock {
  background-image: url('../assets/svg/clock.svg');
}
.product-detail--card .eye {
  background-image: url('../assets/svg/eye.svg');
}
.product-detail--card .dollar {
  background-image: url('../assets/svg/dollar-sign.svg');
}
.product-detail--card .check-circle {
  background-image: url('../assets/svg/check-circle.svg');
}

.product--card-title {
  margin-bottom: 15px;
  font-size: var(--title-h4);
  color: var(--soft-white);
}

.product--card-body {
  font-size: var(--paragraphs);
  line-height: var(--lineS-p);
  color: #808080;
}

.games-img-container {
  position: relative;
  min-width: 320px;
  width: 100%;
  height: 70vh;
  background-image: url('../assets/images/main-photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.games-img-container h2 {
  position: absolute;
  width: 100%;
  top: 10%;
  padding: 20px 0;
  font-size: var(--title-h2);
  color: var(--softBlue-variation);
  background-color: rgba(0, 0, 0, .5);
}

.main-plans-container {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 60px 0 40px;
  text-align: center;
}

.methods--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}

.main-tables-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.methods--title > h2 {
  font-size: var(--title-h2);
  line-height: var(--lineS-h);
  color: var(--warm-black);
}

.methods--title > p {
  margin: 30px 0 40px;
  font-size: var(--paragraphs);
  line-height: var(--lineS-p);
  color: var(--just-grey);
}

.main-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: auto;
  font-family: var(--font2);
  text-align: left;
}

.method-table--title, .commissions-table--title {
  margin-bottom: 15px;
  font-size: var(--title-h4);
  padding-left: 15px;
  color: var(--softDark-primary);
}
.commissions-table--title {
  color: var(--softDark-secondary);
}

.method-table--container, .commissions-table--container {
  width: 100%;
  min-width: 230px;
  max-width: 250px;
  height: 300px;
  margin: 0 auto;
}
.main-tables-container table {
  width: 100%;
  height: 100%;
}
.method-table--container td, .commissions-table--container td {
  width: 50%;
  padding-left: 15px;
  font-size: var(--title-h6);
  color: var(--just-grey);
  background-color: var(--just-white);
}
.table__top-left {
  border-radius: 15px 0 0 0;
}
.table__top-right {
  border-radius: 0 15px 0 0;
}
.table__bottom-left {
  border-radius: 0 0 0 15px;
}
.table__bottom-right {
  border-radius: 0 0 15px 0;
}

.commissions-table--container .table__right {
  padding-left: 25px;
  color: #757575;
}

.method-table--container .table__right {
  text-align: center;
  padding: 0;
}
.nexus, .oxxo, .paypal, .bank {
  display: inline-block;
  width: inherit;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.method-table--container .nexus {
  background-image: url('../assets/icons/logo.png');
  background-size: contain;
}
.method-table--container .oxxo {
  background-image: url('../assets/icons/oxxo-logo.png');
}
.method-table--container .paypal {
  background-image: url('../assets/icons/payPal-logo.png');
}
.method-table--container .bank {
  background-size: contain;
  background-image: url('../assets/icons/banamex-logo.png');
  /* background-image: url('../assets/icons/banamex.png'); */
}
.commissions-table--container .up, .commissions-table--container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('../assets/svg/trending-up.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.commissions-table--container .down {
  background-image: url('../assets/svg/trending-down.svg');
}

.main__left-button > span, .main__right-button > span {
  display: block;
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__left-button > span {
  background-image: url('../assets/svg/left-arrow.svg');
}
.main__right-button > span {
  background-image: url('../assets/svg/right-arrow.svg');
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.method-table--update, .commissions-table--update {
  width: 80%;
  height: auto;
  margin: 15px auto 0;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 12rem;
  background-color: var(--softRed-variation);
}
.commissions-table--update {
  background-color: var(--softBlue-variation);
}

.method-table--update p, .commissions-table--update p {
  font-weight: 300;
  line-height: 15rem;
  color: var(--warm-black);
}

.main-plans-container > h2 {
  width: 90%;
  margin: 20px auto;
  font-size: var(--title-h2);
}
.main-plans-container > p {
  width: 90%;
  margin: 0 auto 20px;
  color: var(--just-grey);
  font-size: var(--paragraphs);
}

.plans-container--slider {
  display: flex;
  /* gap: 20px; */
    /* Espacio entre items cuando estamos utilizando flex pero no todos
    los navegadores están adaptados para usar esta propiedad */
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.plans-container--slider::-webkit-scrollbar {
  height: 5px;
}
.plans-container--slider::-webkit-scrollbar-thumb {
  background-color: var(--softDark-primary);
  border-radius: 4px;
}
.plans-container--slider::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}
.plans-container--slider::-webkit-scrollbar-thumb:active {
  background-color: var(--dark-primary);
}
.plans-container--slider::-webkit-scrollbar-track {
  background-color: var(--softRed-variation);
  border-radius: 4px;
}
.plans-container--slider::-webkit-scrollbar-track:hover,
.plans-container--slider::-webkit-scrollbar-track:active {
  background-color: var(--red-variation);
}

.plans--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 240px;
  max-width: 310px;
  height: auto;
  /* margin: 50rem 0 0; */
  margin: 50px 10px 20px;
  padding: 40px 20px;
  border-radius: 15px;
  background-color: var(--just-white);
  box-shadow: 0 4px 8px rgba(242, 106, 79, 0.35);
}
.special {
  background-color: var(--black);
}
.membership {
  position: absolute;
  width: 50%;
  height: 30px;
  top: -15px;
  left: calc(50% - 60px);
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
  font-size: var(--title-h6);
  color: var(--just-white);
  background-color: var(--just-red);
}
.basic-member {
  background-color: var(--color-secondary);
}
.special-member {
  background-color: var(--just-grey);
  color: var(--black);
}

.plan-card--title {
  font-size: var(--title-h3);
  color: var(--warm-black);
}
.plan-card--price {
  margin: 10px 0;
  font-size: 60rem;
  font-weight: bold;
  color: black;
}
.special .plan-card--title, .special .plan-card--price {
  color: var(--soft-white);
}

.plan-card--price span {
  font-size: 20rem;
  font-weight: 300;
  vertical-align: 40px;
  margin-right: 5px;
}

.plan-card--saving {
  font-size: 16rem;
  color: var(--just-grey);
}

.plan-card--ca {
  display: flex;
  width: 150px;
  height: 48px;
  margin: 15px auto 0;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  border: 2px solid var(--just-red);
  border-radius: 5px;
  font-weight: bold;
  font-family: var(--font1);
  font-size: var(--paragraphs);
  line-height: var(--lineS-p);
  color: var(--warm-black);
  background-color: var(--soft-white);
}
.basic-member--ca {
  border: 2px solid var(--color-secondary);
}
.special-member--ca {
  border: 2px solid var(--just-black);
  background-color: var(--just-grey);
}

.plan-card--ca span {
  width: 25px;
  height: 25px;
  background-image: url('../assets/svg/right-arrow.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* Footer */
footer {
  display: flex;
  width: inherit;
  height: auto;
  padding: 15px;
  align-items: center;
  background-color: var(--softDark-primary);
}
footer nav {
  display: flex;
  width: 70%;
  padding-top: 10px;
  flex-direction: column;
}
footer li {
  width: max-content;
  margin-bottom: 5px;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  transition: all 1s ease;
  line-height: normal;
  list-style: none;
}
footer a {
  text-decoration: none;
  color: var(--soft-white);
  font-size: var(--paragraphs);
}
.footer__list img {
  height: 15px;
  padding-top: 5px;
  margin-right: 5px;
}
footer a:hover {
  transition: all 1s;
  color: var(--red-variation);
}
footer li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--softRed-variation);
}
.logo-container {
  text-align: center;
  width: 30%;
}
.logo-container img {
  width: 20vw;
}
.logo-container a {
  color: var(--soft-white);
  font-size: 12rem;
}
