.header__menu {
  width: 30%;
}
.menu--home {
  display: initial;
}
.menu--profile {
  display: none;
}
.menu--profile {
  background-image: url('../images/me.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
}

.welcome-greeting {
  display: flex;
  width: 100vw;
  height: auto;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}
.welcome-greeting > h2 {
  color: var(--soft-white);
  font-size: var(--title-h1);
}
.welcome-greeting > a {
  width: 25px;
  height: inherit;
  color: var(--soft-white);
}
.welcome-greeting > a:hover {
  color: var(--softRed-variation);
}
.welcome-greeting svg {
  width: 100%;
  height: 25px;
}

.tam{
  text-decoration: none;
  font-size: 20px;
}

.user__data-container {
  display: flex;
  width: 90%;
  height: auto;
  margin: 25px auto 0;
  flex-direction: column;
}
.userD {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.userD > label {
  font-weight: 600;
  font-size: var(--title-h5);
  color: var(--just-black);
}

.userD > input {
  margin-left: 10px;
  outline: none;
  padding-left: 10px;
}

.user__data-container > .button {
  width: 60%;
  height: 50px;
  margin: 20px auto 0;
}