.plans__methods-container {
  width: 80%;
}
#hover > a:hover, #hover svg:hover {
  color: var(--color-secondary);
  opacity: .9;
}
.tests {
  display: inline-block;
  width: inherit;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.paypal, .nexus, .bank, .oxxo {
  background-image: none;
}
/* .nexus {
  background-image: url('./assets/icons/logo.png');
  background-size: cover;
} */

.plans__methods-container > a svg {
  width: 100%;
  height: 100%;
  color: var(--softDark-primary);
}