:root {
  /* Colors */
  --just-red: #D00000;
  --color-primary: #6A040F;
  --dark-primary: #370617;
  --softDark-primary: #9D0208;
  --red-variation: #EF3C2D;
  --softRed-variation: #F26A4F;
  --just-blue: #1368AA;
  --color-secondary: #002962;
  --dark-secondary: #00043A;
  --softDark-secondary: #004E89;
  --blue-variation: #4091C9;
  --softBlue-variation: #9DCEE2;
  --just-white: #FFF;
  --soft-white: #FAF8F7;
  --just-grey: #C7C7C7;
  --just-black: #000;
  --black: #201E1C;
  --warm-black: #282623;
  /* Fonts-sizes */
  --title-h1: 28rem;
  --title-h2: 24rem;
  --title-h3: 22rem;
  --title-h4: 20rem;
  --title-h5: 18rem;
  --lineS-h: 28rem;
  --paragraphs: 14rem;
  --lineS-p: 18rem;
  /* Fonts */
  --font1: 'Nunito', sans-serif;
  --font2: 'Lato', sans-serif;
  --font3: 'Oswald', sans-serif;
}

html {
  font-size: 6.25%;
  font-family: var(--font1);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: inherit;
  background: url(https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.capa{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 0;
  left: 0;
}

/* Header */
header {
  position: fixed;
  display: flex;
  width: inherit;
  height: 10vh;
  top: 0;
  left: 0;
  padding: 0 10px;
  border-bottom: 1px solid var(--dark-primary);
  background: linear-gradient(207.8deg, #201E1C 16.69%, #D00000 100%);
}
.btn-menu {
  display: flex;
  align-items: center;
  width: auto;
}
.btn-menu label {
  margin-right: 5px;
  cursor: pointer;
  font-size: 20px;
  color: var(--just-white);
}
.btn-menu label:hover {
  color: var(--just-grey);
}
.header--logo, .header--logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header--logo img {
  height: 8vh;
}
.header--logo a {
  font-weight: 700;
  font-size: var(--title-h5);
  color: var(--softRed-variation);
}
.header--logo a:hover {
  color: var(--dark-primary);
  opacity: .7;
}
.header__menu {
  display: flex;
  width: auto;
  align-items: center;
  margin-left: auto;
}
.header__menu a {
  margin: 0 6px;
  text-decoration: none;
  transition: all 0.3s ease;
  opacity: .7;
}
.menu--home, .menu--aboutUs, .menu--gallery, .menu--support {
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__menu .menu--home {
  background-image: url('../../assets/icons/1x/home-white.png');
}
.header__menu .menu--gallery {
  background-image: url('../../assets/svg/collections-white.svg');
}
.header__menu .menu--aboutUs {
  background-image: url('../../assets/svg/contact-white.svg');
}
.header__menu .menu--support {
  background-image: url('../../assets/svg/support-white.svg');
}
.header__menu a:hover {
  opacity: 1;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
  display: none;
}
.container__menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .container__menu{
  opacity: 1;
  visibility: visible;
}
.menu__cont {
  position: relative;
  width: 100%;
  max-width: 60%;
  height: 100vh;
  transition: all 500ms ease;
  transform: translateX(-100%);
  background-color: #1c1c1c;
}
#btn-menu:checked ~ .container__menu > .menu__cont {
  transform: translateX(0%);
}
.menu__cont nav {
  transform: translateY(15%);
}
.menu__cont nav a {
  display: block;
  padding: 15px 0 15px 20px;
  color: #C7C7C7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
  text-decoration: none;
  font-size: var(--paragraphs);
}
.menu__cont nav a:hover{
  border-left: 3px solid var(--softDark-primary);
  background-color: #1f1f1f;
}
.menu__cont label{
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  color: var(--just-white);
}
/*Fin de Menù lateral*/


/* Main */
main {
  width: inherit;
  height: auto;
  margin-top: 15vh;
}
main article {
  width: 80%;
  height: 20vh;
  margin: 20px auto;
  background-color: var(--softBlue-variation);
}



/* Footer */
footer {
  display: flex;
  width: inherit;
  height: auto;
  padding: 15px;
  align-items: center;
  background-color: var(--softDark-primary);
}
footer nav {
  width: 70%;
  transition: all 1s ease;
}
footer li {
  width: max-content;
  margin-bottom: 5px;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  transition: all 1s ease;
  line-height: normal;
  list-style: none;
}
footer a {
  display: inline;
  text-decoration: none;
  color: var(--soft-white);
  font-size: var(--paragraphs);
}
footer a:hover {
  transition: all 1s;
  color: var(--red-variation);
}
footer li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--softRed-variation);
}
.icons img {
  height: 15px;
  padding-top: 5px;
  margin-right: 5px;
}
.logo-container {
  text-align: center;
  width: 30%;
}
.logo-container img {
  width: 20vw;
}
.logo-container a {
  color: var(--soft-white);
  font-size: 12rem;
}
