/* Main */
main {
  width: inherit;
  height: auto;
  margin-top: 15vh;
}

.main__news {
  overflow: hidden;
  width: 90%;
  min-height: 175px;
  margin: 20px auto;
  border-radius: 10px;
  opacity: .8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__news:first-child {
  background-image: url('../../assets/images/home-mainArticle.png');
}
.main__news.novedades {
  background-image: url('../../assets/images/home-novedades.jpg');
}
.main__news.another {
  background-image: url('../../assets/images/home-article.jpeg');
}
.main__news.soon {
  background-image: url('../../assets/images/home-soon.jpg');
}
.main__news:hover {
  opacity: 1;
}

.main__news > a {
  display: flex;
  width: auto;
  text-align: center;
  min-height: inherit;
  align-items: center;
  text-decoration: none;
}
.main__news h3 {
  min-width: 90vw;
  font-family: var(--font3);
  font-size: var(--title-h1);
  color: var(--just-white);
}