/* Main */
.main__news {
  position: relative;
  overflow: hidden;
  width: 90%;
  /* min-height: 35vh; */
  min-height: 28vh;
  margin: 20px auto;
  border-radius: 10px;
  opacity: .8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__news:first-child {
  display: none;
  background-image: url('../../assets/images/home-mainArticle.png');
}
.main__news.novedades {
  display: none;
  background-image: url('../../assets/images/home-novedades.jpg');
}
.main__news.another {
  background-image: url('../../assets/images/home-article.jpeg');
}
.main__news.soon {
  background-image: url('../../assets/images/home-soon.jpg');
}
.main__news:hover {
  opacity: 1;
}
.main__news.soon > a:hover {
  cursor: not-allowed;
}
.main__news > svg {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50px;
  color: var(--just-white);
  background-color: rgba(0, 0, 0, .6);
}
.main__news > svg:hover {
  cursor: pointer;
}
.main__news > .categories {
  border-radius: 10px;
}

.main__news > a {
  display: flex;
  width: auto;
  text-align: center;
  min-height: inherit;
  align-items: center;
  text-decoration: none;
}
.main__news h3 {
  min-width: 90vw;
  padding: 0 10px;
  font-family: var(--font3);
  font-size: var(--title-h1);
  color: var(--just-white);
}