.main__news {
  min-height: 33vh;
  border-radius: 15px;
  opacity: .7;
}
.main__news h3 {
  padding: 0 15px;
}

.main__news > svg {
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, .5);
}
.main__news > .categories {
  border-radius: 10px;
}