:root {
  /* Fonts-sizes */
  --title-h1: 32rem;
  --title-h2: 28rem;
  --title-h3: 26rem;
  --title-h4: 24rem;
  --title-h5: 22rem;
  --title-h6: 20rem;
  --paragraphs: 16rem;
  --lineS-p: 20rem;
  --lineS-h: 34rem;
}

header {
  border-bottom: 3px solid var(--dark-primary);
}
.btn-menu {
  padding-bottom: 3px;
}
.btn-menu label > svg {
  width: 25px;
  height: 25px;
}
.header--logo img {
  height: 10vh;
}
.header--logo > h1 {
  font-size: var(--title-h3);
}

.header__menu {
  width: 35%;
  padding-bottom: 3px;
}
.header__menu > a {
  height: 23px;
  width: 23px;
}

.menu__cont nav > h4 {
  margin-bottom: 20px;
  font-size: var(--title-h3);
}
.menu__cont nav > a {
  font-size: 18rem;
}
.menu__cont label > svg {
  width: 22px;
  height: 22px;
}



.footer--up > nav {
  width: 70%;
}
.footer--up > nav a {
  font-size: 14rem;
}
.footer--up > nav img {
  height: 15px;
}

.logo-container {
  width: 30%;
}
.logo-container a {
  font-size: var(--paragraphs);
}

.footer--down a {
  font-size: 14rem;
}
.footer__call-service > svg {
  width: 14px;
  height: 14px;
}