* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-size: 6.25%;
  overflow-y: hidden;
}

body {
  width: inherit;
  height: inherit;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #D00000 100%);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 15vh;
}
header > img {
  height: inherit;
}
header > h2 {
  color: #F26A4F;
  font-size: 28rem;
}

main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}

.atom__container, .aquarium {
  display: none;
}

.message__wrap {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  text-align: center;
}
.message__wrap--title {
  color: #C7C7C7;
  font-size: 28rem;
}

.text {
  color: #FAF8F7;
  font-size: 90rem;
}
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  animation-name: bounce;
}

footer {
  position: fixed;
  display: flex;
  width: inherit;
  height: 10vh;
  bottom: 0;
  padding: 0 10px 0 15px;
  justify-content: space-between;
  align-items: center;
}
footer a:visited {
  color: #F26A4F;
}
footer a:hover {
  transition: all 1s ease;
  opacity: .7;
  color: #6A040F;
}

.footer__support-container {
  display: flex;
}
.footer__support-container > a {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14rem;
  color: #FFFFFF;
}
.footer__support-container svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.footer__logo-container {
  height: inherit;
}
.footer__logo-container img {
  height: 6vh;
}
.footer__logo-container > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  font-size: 10rem;
  color: #FFFFFF;
}
.footer__logo-container > a:hover {
  color: #EF3C2D;
}