:root {
  /* Colors */
  --just-red: #D00000;
  --color-primary: #6A040F;
  --dark-primary: #370617;
  --softDark-primary: #9D0208;
  --red-variation: #EF3C2D;
  --softRed-variation: #F26A4F;
  --just-blue: #1368AA;
  --color-secondary: #002962;
  --dark-secondary: #00043A;
  --softDark-secondary: #004E89;
  --blue-variation: #4091C9;
  --softBlue-variation: #9DCEE2;
  --just-white: #FFF;
  --soft-white: #FAF8F7;
  --just-grey: #C7C7C7;
  --just-black: #000;
  --black: #201E1C;
  --warm-black: #282623;
  /* Fonts-sizes */
  --title-h1: 28rem;
  --title-h2: 24rem;
  --title-h3: 22rem;
  --title-h4: 20rem;
  --title-h5: 18rem;
  --title-h6: 16rem;
  --paragraphs: 14rem;
  --lineS-p: 18rem;
  --lineS-h: 28rem;
  /* Fonts */
  --font1: 'Nunito', sans-serif;
  --font2: 'Lato', sans-serif;
  --font3: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
  font-family: var(--font1);
  scroll-behavior: smooth;
  width: 100vw;
  height: auto;
}

body {
  width: 100vw;
  height: inherit;
  background-color: var(--warm-black);
}
body a {
  transition: all 1s ease;
}

/* Header */
header {
  position: fixed;
  display: flex;
  width: inherit;
  height: 10vh;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 5px 0 15px;
  justify-content: space-between;
  border-bottom: 2px solid var(--dark-primary);
  background: linear-gradient(207.8deg, #201E1C 16.69%, #D00000 100%);
}
.btn-menu {
  display: flex;
  width: auto;
  height: inherit;
  padding-bottom: 2px;
  align-items: center;
}
.btn-menu label {
  display: flex;
  align-items: center;
}
.btn-menu label > svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  color: var(--just-white);
}
.btn-menu label > svg:hover {
  color: var(--softRed-variation);
  opacity: .8;
}
.header--logo {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: var(--softRed-variation);
}
.header--logo img {
  height: 9vh;
}
.header--logo > h1 {
  font-weight: 700;
  font-size: var(--title-h4);
}
.header--logo > p {
  font-weight: 700;
  font-size: var(--title-h5);
}
.header--logo:hover {
  opacity: .9;
  color: var(--dark-primary);
}

.header__menu {
  display: flex;
  width: 30%;
  height: inherit;
  padding-bottom: 2px;
  align-items: center;
  justify-content: space-around;
}
.header__menu > a {
  width: auto;
  height: auto;
  opacity: .8;
  transition: all 0.3s ease;
  color: var(--just-white);
}
.header__menu > a:hover {
  color: var(--red-variation);
  opacity: 1;
}
.header__menu svg {
  height: 18px;
  height: 18px;
}
.menu--support, .menu--gallery, .header__menu p {
  display: none;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
  display: none;
}
.container__menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: all 500ms ease;
  visibility: hidden;
}
#btn-menu:checked ~ .container__menu{
  opacity: 1;
  visibility: visible;
}
.menu__cont {
  position: relative;
  width: 100%;
  max-width: 60%;
  height: 100vh;
  transition: all 500ms ease;
  transform: translateX(-100%);
  background-color: #1C1C1C;
}
#btn-menu:checked ~ .container__menu > .menu__cont {
  transform: translateX(0%);
}
.menu__cont nav {
  display: flex;
  flex-direction: column;
  transform: translateY(15%);
}
.menu__cont nav > h4 {
  margin-bottom: 10px;
  font-size: var(--title-h4);
  text-align: center;
  color: var(--just-white);
}
.menu__cont nav a {
  padding: 20px;
  color: #C7C7C7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
  text-decoration: none;
  font-size: var(--paragraphs);
}
.menu__cont nav a:hover {
  border-left: 3px solid var(--softDark-primary);
  background-color: #1F1F1F;
}
.menu__cont label {
  position: absolute;
  right: 10px;
  top: 10px;
}
.menu__cont label > svg {
  width: 18px;
  height: 18px;
  color: var(--just-white);
}
/*Fin de Menù lateral*/


/* Main */
main {
  width: inherit;
  height: auto;
  margin-top: 10vh;
  font-family: var(--font2);
}

.main__category {
  width: inherit;
  height: auto;
  padding: 30px 0;
  text-align: center;
  color: var(--just-white);
  text-transform: uppercase;
  background-color: var(--dark-primary);
}
.category--avatar {
  display: block;
  width: 70%;
  margin: 0 auto 10px;
  border-radius: 50px;
}
.category--title {
  width: 95%;
  margin: 0 auto;
  font-family: var(--font3);
  font-size: var(--title-h2);
}
.category--description {
  width: 90%;
  margin: 10px auto 0;
  font-weight: 600;
  line-height: var(--lineS-p);
  font-size: var(--paragraphs);
  color: rgba(255, 255, 255, .6);
}
.category--btn {
  overflow: hidden;
  display: flex;
  width: 120px;
  height: 50px;
  margin: 20px auto;
  border-radius: 20px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-family: var(--font3);
  font-size: var(--paragraphs);
  color: var(--red-variation);
  border: 2px solid rgba(255, 255, 255, .3);
  background-color: rgba(51, 51, 51, .5);
}
.category--btn:hover {
  color: var(--just-grey);
  border: 2px solid rgba(239, 60, 45, .6);
  background-color: rgba(242, 106, 79, .3);
}

.category__statistics {
  display: flex;
  width: 60%;
  height: max-content;
  padding: 20px 0;
  margin: 0 auto 20px;
  border-radius: 20px;
  color: var(--warm-black);
  font-family: var(--font3);
  justify-content: space-around;
  background-color: var(--just-white);
  box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.6);
}
.statistics-data > p {
  font-weight: 600;
  font-size: var(--title-h4);
}
.statistics-data > span {
  font-size: var(--paragraphs);
}

/* Lista de articulos */
.main__articles {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  margin: 70px 0 50px;
  padding-top: 90px;
  flex-direction: column;
}
.articles--vector {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -18px;
  left: calc(50% - 15px);
  color: var(--soft-white);
}
.articles__finder-container {
  display: flex;
  width: max-content;
  height: 40px;
  padding: 0 15px;
  margin: 0 auto 10px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--softRed-variation);
}
.articles__finder-container:hover {
  border-color: rgba(239, 60, 45, .6);
  box-shadow: 0 1px 6px 0 #EF3C2D77;
}
.articles__finder-container > svg {
  width: 17px;
  height: 17px;
  color: var(--softRed-variation);
}
.articles__finder-container > form > input {
  height: 40px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: var(--paragraphs);
  background-color: transparent;
  color: var(--softRed-variation);
}
.articles__finder-container > form > input::placeholder {
  color: var(--softRed-variation);
  opacity: .8;
}

/* .boton{
  display: flex;
  margin-left: auto;
} */

.articles__product {
  display: flex;
  width: 100%;
  height: auto;
  margin: 20px 0;
  padding: 0 5px 25px;
  align-items: center;
  border-bottom: 2px solid rgba(55, 6, 23, .5);
}

.articles__product > a{
  text-decoration: none;
}

.product__img-container {
  position: relative;
  width: 35%;
  height: auto;
}
.product__img-container > a > img {
  width: 100%;
}
.product__img-container > a> span {
  position: absolute;
  width: 5vw;
  height: 5vw;
  top: -20px;
  right: -20px;
  background-size: cover;
  background-image: url('../../categories/asset/sprite-like.png');
}
.heart-animation {
  animation: heart-beat 1s steps(28, start) 1 forwards;
}
@keyframes heart-beat {
  from { background-position: left; }
  to { background-position: right; }
}


.product__data-container {
  display: flex;
  width: 65%;
  padding-left: 15px;
  flex-direction: column;
  color: var(--just-white);
  font-family: var(--font3);
  text-transform: uppercase;
}
.product--brand, .product--description {
  display: none;
}
.product--title {
  font-weight: 700;
  font-size: var(--title-h5);
  color: var(--softDark-primary);
}
.product--price {
  width: max-content;
  margin-top: 5px;
  /* padding: 0 5px; */
  font-weight: 900;
  letter-spacing: 1px;
  font-family: var(--font1);
  font-size: var(--title-h6);
  color: var(--softRed-variation);
  /* border-bottom: 5px dotted var(--just-grey); */
}
.product--monthly-payment {
  font-size: var(--paragraphs);
  font-weight: 300;
}
.product--monthly-payment > span {
  color: var(--softRed-variation);
}
.product--monthly-payment .lowerCase {
  text-transform: lowercase;
}
.product--shipment {
  display: flex;
  margin-top: 10px;
  align-items: center;
  font-weight: 900;
  font-family: var(--font2);
  font-size: var(--paragraphs);
  color: var(--just-red);
}
.product--shipment > svg {
  width: 15px;
  height: 15px;
}


/* Media queries */
@media (min-width: 375px) {
  :root {
    /* Fonts-sizes */
    --title-h1: 32rem;
    --title-h2: 28rem;
    --title-h3: 26rem;
    --title-h4: 24rem;
    --title-h5: 22rem;
    --title-h6: 20rem;
    --paragraphs: 16rem;
    --lineS-p: 20rem;
    --lineS-h: 34rem;
  }

  header {
    border-bottom: 3px solid var(--dark-primary);
  }
  .btn-menu {
    padding-bottom: 3px;
  }
  .btn-menu label > svg {
    width: 25px;
    height: 25px;
  }
  .header--logo {
    padding-bottom: 3px;
  }
  .header--logo img {
    height: 10vh;
  }
  .header--logo > h1 {
    font-size: var(--title-h3);
  }

  .header__menu {
    width: 28%;
    padding-bottom: 3px;
  }
  .header__menu svg {
    height: 23px;
    width: 23px;
  }

  .menu__cont nav > h4 {
    margin-bottom: 20px;
    font-size: var(--title-h3);
  }
  .menu__cont nav > a {
    font-size: 18rem;
  }
  .menu__cont label > svg {
    width: 22px;
    height: 22px;
  }

  .category--btn {
    width: 130px;
    height: 60px;
  }

  .articles--vector {
    width: 40px;
    height: 40px;
    top: -20px;
    left: calc(50% - 20px);
  }
}

@media (min-width: 768px) {
  .header__menu {
    width: auto;
  }
  .header__menu > a {
    display: flex;
    height: auto;
    width: auto;
    margin: 0 5px;
    align-items: center;
    text-decoration: none;
    color: var(--just-white);
  }
  .header__menu svg {
    margin-right: 5px;
  }
  .header__menu p {
    display: initial;
    font-size: var(--paragraphs);
  }

  .menu__cont {
    max-width: 30%;
  }

  main {
    display: flex;
  }

  .main__category {
    position: fixed;
    width: 40%;
    height: 90vh;
    padding: 30px 0;
  }
  .category--avatar {
    width: 80%;
    margin: 0 auto 10px;
    border-radius: 50px;
  }
  .category--description {
    width: 95%;
  }

  .category__statistics {
    width: 65%;
    margin: auto;
  }

  .main__articles {
    width: 60%;
    height: auto;
    margin: 40px 0 70px 40vw;
    padding: 0 30px;
  }
  .articles--vector {
    display: none;
  }
  .articles__finder-container {
    width: auto;
    height: 40px;
    margin: 0 20px 10px;
  }

  .articles__product {
    margin: 30px 0;
    padding: 0 5px 25px 0;
    border-bottom: 3px solid var(--dark-primary);
  }

  .product__img-container > span {
    max-width: 70px;
    max-height: 70px;
  }

  .product--brand {
    display: flex;
    align-items: center;
    color: var(--red-variation);
    font-size: 18rem;
  }
  .product--brand > svg {
    margin: 0 5px;
    height: 100%;
    width: 18px;
  }
  .product--title {
    font-size: var(--title-h4);
  }
  .product--monthly-payment {
    font-weight: 400;
  }
  .product--shipment > svg {
    width: 17px;
    height: 17px;
  }
}

@media (min-width: 1024px) {
  /* html {
    overflow-x: hidden;
  }
  html::-webkit-scrollbar {
    width: 8px;
  }
  html::-webkit-scrollbar-thumb {
    background-color: var(--softDark-primary);
    border-radius: 4px;
  }
  html::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
  }
  html::-webkit-scrollbar-thumb:active {
    background-color: var(--dark-primary);
  }
  html::-webkit-scrollbar-track {
    background-color: var(--softRed-variation);
    border-radius: 4px;
  }
  html::-webkit-scrollbar-track:hover,
  html::-webkit-scrollbar-track:active {
    background-color: var(--red-variation);
  } */

  .header--logo > h1, .header--logo > p {
    font-size: var(--title-h2);
  }

  .btn-menu label > svg:hover {
    cursor: pointer;
  }

  .header__menu > a {
    height: auto;
    padding: 10px 15px 5px;
    border-bottom: 3px solid transparent;
  }
  .header__menu > a:hover {
    border-bottom: 3px solid var(--red-variation);
  }

  .menu__cont {
    max-width: 20%;
  }
  .menu__cont label > svg:hover {
    cursor: pointer;
  }

  .main__category {
    width: 35%;
  }
  .category--avatar {
    width: 65%;
  }
  .category--title {
    font-size: var(--title-h1);
  }
  .category--description {
    width: 90%;
  }
  .category--btn:hover {
    cursor: not-allowed;
  }

  .category__statistics {
    width: 55%;
  }
  .statistics-data > p {
    font-size: var(--title-h3);
  }

  .main__articles {
    width: 65%;
    margin: 30px 0 120px 35vw;
    padding: 0 60px 0 70px;
  }

  .articles__product {
    margin: 20px 0;
    padding: 0 40px 40px 0;
  }

  .product__img-container {
    width: 30%;
  }

  .product__data-container {
    width: 70%;
    padding-left: 25px;
  }
  .product--brand {
    font-size: var(--paragraphs);
  }
  .product--brand > svg {
    width: 15px;
  }
  .product--title {
    font-size: var(--title-h3);
  }
  .product--description {
    display: initial;
    margin-top: 5px;
    text-align: justify;
    text-transform: none;
    font-family: var(--font2);
    font-size: var(--paragraphs);
  }
  .product--price {
    margin-top: 10px;
    font-size: 17rem;
  }
  .product--monthly-payment {
    font-size: 14rem;
  }
  .product--shipment > svg {
    width: 18px;
    height: 18px;
  }
}