/* Main */
.main__categories {
  overflow: hidden;
  width: 90%;
  /* min-height: 35vh; */
  min-height: 28vh;
  margin: 20px auto;
  border-radius: 10px;
  opacity: .8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__categories:first-child {
  background-image: url('../asset/src/consoles-cat.jpeg');
}
.main__categories.accesories {
  background-image: url('../asset/src/accesorios-cat.png');
}
.main__categories.videogames {
  background-image: url('../asset/src/videogames-cat.jpg');
}
.main__categories.offers {
  background-image: url('../asset/src/offers-cat.jpg');
}
.main__categories.limited {
  background-image: url('../asset/src/limitedEdition-cat.jpg');
}
.main__categories:hover {
  opacity: 1;
}

.main__categories > a {
  display: flex;
  width: auto;
  text-align: center;
  min-height: inherit;
  align-items: center;
  text-decoration: none;
}
.main__categories h3 {
  min-width: 90vw;
  padding: 20px 10px;
  font-family: var(--font3);
  font-size: var(--title-h1);
  color: var(--just-white);
  background-color: rgba(0, 0, 0, .6);
}